$icomoon-font-path: "fonts" !default;

$icon-check: "\e905";
$icon-view-details: "\e900";
$icon-ic_view_all_clients: "\e901";
$icon-ic_pending: "\e902";
$icon-ic_inactive: "\e903";
$icon-ic_edit: "\e904";
$icon-ic_delete: "\e906";
$icon-allocate: "\e908";
$icon-accepted: "\e907";
$icon-ic_file: "\e926";
$icon-ic_info: "\e927";
$icon-remove_no_space: "\e92a";
$icon-ic_attached_file: "\e918";
$icon-ic_dots: "\e91b";
$icon-ic_folder: "\e91c";
$icon-ic_opened-folder: "\e91d";
$icon-radio-circle: "\e929";
$icon-radio: "\e909";
$icon-accounting: "\e914";
$icon-audit: "\e913";
$icon-add-company: "\e911";
$icon-addUser: "\e90a";
$icon-add: "\e910";
$icon-edit: "\e90f";
$icon-pdf: "\e90b";
$icon-ic-settings: "\e90c";
$icon-access-control: "\e90e";
$icon-all-clients: "\e915";
$icon-amend-sections: "\e916";
$icon-send: "\e912";
$icon-email: "\e917";
$icon-upload: "\e919";
$icon-dropdown: "\e91a";
$icon-user: "\e91e";
$icon-save: "\e91f";
$icon-next: "\e920";
$icon-step-icon: "\e921";
$icon-search: "\e922";
$icon-database: "\e923";
$icon-logout: "\e924";
$icon-message: "\e925";
$icon-peyroll: "\e928";
$icon-settings: "\e92b";
$icon-to-do: "\e92c";
$icon-remove: "\e90d";

