//select
.field {

  &.select {
    width: 100%;

    .is-open {

      .Select-arrow::after {
        @include rotate(180);
        color: #000;
      }
    }

    .is-searchable {
      max-width: 252px;
      width: 100%;

      .Select-control {
        border: 0px;
        border-bottom: 1px solid rgba(155, 155, 155, 0.3);
        border-radius: 0;
        display: block;
        box-shadow: none;

        .Select-placeholder {
          padding-left: 0;
          line-height: 36px;
          font-size: 14px;
          color: rgba($text, 0.5);
          text-transform: uppercase;

        }
        .Select-input {
          padding: 0 15px 0 0;
          margin-left: 0;

          input {
            padding: 0;
            @include transition(all 0s);
          }
        }

        .Select-arrow-zone {
          position: absolute;
          right: 0;
          @include midallign;

          .Select-arrow {
            border: 0;
            position: static;

            &::after {
              content: "\e91a";
              font-family: 'fitch-malta' !important;
              font-size: 10px;
              color: $blue;
              display: inline;
              @include transition(all 0.2s);

            }
          }
        }
        .Select-value {
          padding: 0;

          .Select-value-label {
            color: $blue !important;
          }
        }
      }
    }
    &.selectStyle2 {
      width: auto;
      min-width: 150px;
      display: inline-block;
      .is-searchable {
        width: auto;
        .Select-control {
          height: 22px;
          background-color: transparent;
          border-bottom: none;
          .Select-placeholder, .Select-value {
            line-height: 22px;
          }
          .Select-input {
            height: 22px;
            input {
              height: 22px;
            }
          }
        }
      }
    }
  }

  .Select-menu-outer {
    border: 0;
    border-radius: 0;
    box-shadow: -6px 0px 12px 0px rgba(0, 0, 0, 0.20);
    margin-top: 10px;

    &::before, &::after  {
      content: "";
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 0;
      right: 10px;
      z-index: -1;
    }
    &::before {
      top: -6px;
      border-bottom: 10px solid white;
      z-index: -1;
     }
    &::after {
      top: -8px;
      border-bottom: 7px solid rgba(237, 237, 237, 0.8);
      z-index: -2;
    }


    .Select-option {
      padding: 15px 30px;
      line-height: 20px;
      color: $text;
      border-bottom: 1px solid $text10;
      background-color: #fff;

      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: $text10;
      }
      &.is-selected {
        color: $blue;
        position: relative;

        &:after {
          content: "\e905";
          font-family: 'fitch-malta' !important;
          color: $blue;
          display: inline;
          padding-left: 12px;
        }
      }
    }
  }

  &.menuField {
    .Select-menu-outer {
      font-family: $regular;
      z-index: 3;
      max-width: 200px;
      right: 0;

      &:after, &:before {
        right: 12px;
      }
    }
  }

}
//end select

// popup
.react-redux-modal .rrm-holder {
  .rrm-shadow {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .scroll .rrm-content.m-large {
    width: 770px;
    border-radius: 0;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.24);

    .rrm-body {
      padding: 0;
    }
  }
}

.popup {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;

  .popupTilte {
    color: $blue;
    font-size: 18px;
    padding: 26px 0px;
    font-family: $bold;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba($blue, 0.05);
    border-bottom: 2px solid rgba($blue, 0.20);
  }

  .popupBody {
    padding: 0px 55px;


  }

  .popupMeta {
    padding: 25px 85px;
    text-align: right;
    border-top:  2px solid rgba($blue, 0.20);
  }
}
//end popup

//notifications

.notification {
  border-width: 1px !important;
  border-style: solid !important;
  box-shadow:  -4px 0px 16px rgba(0, 0, 0, 0.2) !important;
  background-color: #fff !important;
  border-radius: 0px;
  height: 62px;
  padding: 0 15px 0px 55px !important;
  color: $text !important;
  display: table !important;
  &.notification-error {
    border-color: $red !important;

    .notification-dismiss{
      background-color: $red !important;
    }
    &:hover {
      border-color: lighten($red, 5) !important;
      .notification-dismiss {
        background-color: lighten($red, 5) !important;
      }
    }
  }
  &.notification-warning {
    border-color: $yellow !important;

    &:hover {
      border-color: lighten($yellow, 10) !important;
      .notification-dismiss {
        background-color: lighten($yellow, 10) !important;
      }
    }
    .notification-dismiss{
      background-color: $yellow !important;
      font-size: 0 !important;
      position: relative;


      &:before {
        content: "";
        height: 18px;
        width: 18px;
        position: absolute;
        left: 13px;
        top: 50%;
        @include translateY(-50%);
        @include bgCover("../img/warning.svg", center);
        background-size: contain;

      }
    }
  }
  .notification-dismiss{
    @include transition(all, .3s !important);
    font-family: $light !important;
    border-radius: 0 !important;
    width: 45px !important;
    height: 100% !important;
    left: 0 !important;
    padding: 21px 0 !important;
    font-size: 30px !important;
    background-color: $red !important;
    top: 0 !important;

  }
  .notification-message {
    display: table-cell !important;
    vertical-align: middle !important;
  }

}
