/* Start Variables */

$light: "RobotoLight";
$regular: "RobotoRegular", sans-serif;
$medium: "RobotoMedium";
$bold: "RobotoBold";
$fontSize: 16px;

// Main Colors

$text: #9b9b9b;
$text10: rgba(155, 155, 155, 0.10);
$blue: #2ca5ee;
$green: #2bcd92;
$dark: #253344;
$heading: #6e7f91;
$red: #c34747;
$yellow: #e7af29;
